@font-face {
    font-family: "Open Sans";
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
 font-family: "Open Sans";
 background-color: #eeeeee;
 display: flex;
 flex-direction: column;
 align-items: center;
}

header{
    font-size: 1.1rem;
    background-color: white;
}

.yläpalkki{
    padding: 10px 395px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    border-bottom: solid 1px #b8b8b8;
    font-size: 0.9rem;
}

.eka-blokki{
    display: flex;
    padding: 0px 45px;
}

.etusivu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; 
}

.etusivu_linkki{
    border-right: solid 1px #b8b8b8;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.Linkit{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-left: 15px;
}

.toiminnot{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hae, .kirjaudu, .Valikko{
    display: flex;
    align-items: center;
    gap: 10px;
}

svg{
    height: 20px;
    width: 20px;
}

a:link{
    color: #000000;
    text-decoration: none;
  }
  
  a:visited{
    color: #000000;
  }

.yle-neliö{
        width: 40px;
        height: 40px;
        background-color: rgb(0, 162, 255);
        color: white;
        display: flex;
        border-radius: 8%;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
}


.headlines{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.punainen-pallo{
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
}


.uutinen{
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    margin-left: 10px;
    position: relative;
    border-top: solid 1px #b8b8b8;
    font-size: 1rem;
}

.yläpalkin-alaosa{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    margin-top: 15px;
    position: relative;
}

.yläpalkin_uutiset{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.sivu{
    display: flex;
    flex-direction: row;
    padding: 0px 190px;
    align-items: flex-start;
    justify-content: center;
    width: 1056px;
    min-width: 1056px;
    max-width: 1056px;

}



.ajat{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    padding: 5px;
    position: absolute;
    color: #b8b8b8;
    background-color: white;
    top: -35px;
    padding-top: 20px;
    left: 0px;
}

.lääkeuutinen{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 70px;
    background-color: white;
}

.lääkekuva{
    width: 100%;
}

.lääkekuva__kuva{
    width: 100%;
}

.uutinen_teksti h3{
    font-size: 0.8rem;
    font-weight: bold;
}

.uutinen_teksti h2{
    font-weight: bold;
    font-size: 1.9rem;
}

.uutinen_teksti h4{
    font-weight: normal;
    position: absolute;
    margin-top: 350px;
    font-size: 0.8rem;
}

.uutinen_teksti{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    justify-content: center;

}

.pallo1 {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    line-height: 140%;
    text-align: center;
    position: absolute;
    margin-left: -45px;
    margin-top:  -5px;
    border:solid 3px #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.luetuimmat{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.9rem;
}

.luetuimmat h2{
    font-size: 0.8rem;
}

.sivun-keskiosa{
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 42px;
    width: 660px;
    min-width: 660px;
    max-width: 660px;
}

.sivupalkki{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.luetuimmat1, .luetuimmat2, .luetuimmat3, .luetuimmat4, .luetuimmat5{
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.luetuimmat1, .luetuimmat2, .luetuimmat3, .luetuimmat4{
    border-left: solid 1px #b8b8b8;
}

.luetuimmat h2{
    font-size: 0.9rem;
}

.pallo2{
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 140%;
    position: absolute;
    margin-left: -45px;
    margin-top: -5px;
    border:solid 3px #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pallo3 {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    line-height: 140%;
    text-align: center;
    position: absolute;
    margin-left: -45px;
    margin-top: -5px;
    border:solid 3px #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pallo4 {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    line-height: 140%;
    text-align: center;
    position: absolute;
    margin-left: -45px;
    margin-top: -5px;
    border:solid 3px #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pallo5 {
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    line-height: 140%;
    text-align: center;
    position: absolute;
    margin-left: -45px;
    margin-top: -5px;
    border:solid 3px #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sivun-alaosa{
    padding: 20px 180px;
}

.poliisiuutinen{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 65px;
    background-color: white;
}

.uutisen_teksti_2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.uutisen_teksti_2 h3{
    font-size: 0.8rem;
}

.uutisen_teksti_2 h2{
    font-size: 1.9rem;
}

.uutisen_teksti_2 h4{
    font-weight: normal;
    position: absolute;
    margin-top: 260px;
    font-size: 0.8rem;
}

.poliisiuutinen_kuva{
    width: 100%;
}

.tuoreimmat{
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: absolute;
    margin-left: -145px;
    font-size: 0.9rem;
    max-width: 300px;
}

.tuoreimmat-teksti{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    margin-left: -60px;
    margin-top: 50px;
    margin-right: -210px;
}

.tuoreimmat5{
    gap: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 384px;
    margin-left: 30px;
}

.tuoreimmat1, .tuoreimmat2, .tuoreimmat3, .tuoreimmat4{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-left: solid 1px #b8b8b8;
    padding: 0 30px;
}

.tuoreimmat h2{
    font-size: 0.9rem;
}

.kello1, .kello2, .kello3, .kello4, .kello5{
    position: absolute;
    margin-left: -51px;
    margin-top: -3px;
    border: solid 3px #eee;
    background-color: #eee;
}



h1{
    font-size: 1.3rem;
}

.otsikko_tuoreimmat{
    margin-left: -55px;
}

.otsikko_luetuimmat{
    margin-left: -22px;
}

.yläpalkin_alaosan_nuolet{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-left: 60px;
    height: 100%;
    width: 150px;
    background: linear-gradient(to left, white, white 50%, transparent 100%);
}

.yläpalkin_alaosa_nuolet__nuoli{
    margin-top: 7px;
    width: 24px;
}
